.u-section-1 {background-image: none}
.u-section-1 .u-sheet-1 {min-height: 701px}
.u-section-1 .u-image-1 {width: 670px; height: 473px; margin: 66px 0 0 auto}
.u-section-1 .u-group-1 {width: 444px; min-height: 533px; margin: -473px auto 0 0}
.u-section-1 .u-image-2 {width: 115px; height: 118px; margin: 0 0 0 auto}
.u-section-1 .u-text-1 {line-height: 1; font-family: patua-one; font-size: 4.5rem; margin: 59px 20px 0}
.u-section-1 .u-text-2 {font-size: 1.125rem; font-style: italic; margin: 20px 20px 0}
.u-section-1 .u-link-1 {border-style: dashed; padding-bottom: 2px; font-style: italic; font-weight: 700; margin: 20px auto 23px 20px}
.u-section-1 .u-text-3 {font-size: 0.875rem; margin: -48px 0 0 781px}
.u-section-1 .u-text-4 {font-size: 13.75rem; font-weight: 700; margin: -134px 184px 16px 688px} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 607px; position: relative}
.u-section-1 .u-image-1 {width: 518px; height: 428px; position: relative; margin-top: 587px}
.u-section-1 .u-group-1 {width: 386px; min-height: 544px; position: relative; margin-top: -442px; margin-left: 2px}
.u-section-1 .u-image-2 {width: 95px; position: relative}
.u-section-1 .u-text-1 {position: relative; font-size: 3.75rem; margin-top: 48px; margin-left: 16px; margin-right: 16px}
.u-section-1 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-1 .u-link-1 {position: relative; margin-bottom: 55px; margin-left: 16px; width: 73px}
.u-section-1 .u-text-3 {position: relative; margin-top: -92px; margin-left: 644px}
.u-section-1 .u-text-4 {position: relative; font-size: 12rem; margin: -118px 158px 48px 456px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 646px}
.u-section-1 .u-image-1 {width: 423px; height: 467px; margin-top: 565px}
.u-section-1 .u-group-1 {width: 280px; min-height: 596px; margin-top: 20px; margin-left: 220px}
.u-section-1 .u-image-2 {width: 91px; margin-top: 1px}
.u-section-1 .u-text-1 {margin-top: 14px; margin-left: 13px; margin-right: 13px}
.u-section-1 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-1 .u-link-1 {margin-left: 13px; width: 56px}
.u-section-1 .u-text-3 {margin-top: -115px; margin-left: 493px}
.u-section-1 .u-text-4 {margin-right: 146px; margin-bottom: 60px; margin-left: 350px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 491px}
.u-section-1 .u-image-1 {height: 312px; margin-top: 953px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-group-1 {width: 536px; min-height: 386px; margin-top: -708px; margin-left: auto}
.u-section-1 .u-image-2 {width: 85px}
.u-section-1 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-1 .u-link-1 {margin-bottom: 0; margin-left: 9px; width: 53px}
.u-section-1 .u-text-3 {margin-top: 341px; margin-left: 325px}
.u-section-1 .u-text-4 {margin-right: 160px; margin-left: 103px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 394px}
.u-section-1 .u-image-1 {height: 215px; margin-top: 1203px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1 .u-group-1 {min-height: 601px; margin-top: -920px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-image-2 {width: 113px; margin-top: 0}
.u-section-1 .u-text-1 {margin-top: 15px; margin-right: -8px; margin-left: 20px}
.u-section-1 .u-text-2 {margin-right: 0; margin-left: 20px}
.u-section-1 .u-link-1 {width: 85px; margin-bottom: 60px; margin-left: 20px}
.u-section-1 .u-text-3 {margin-top: 339px; margin-left: 233px}
.u-section-1 .u-text-4 {margin: -131px 80px 93px 0} }.u-section-2 .u-sheet-1 {min-height: 390px}
.u-section-2 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-2 .u-layout-cell-1 {min-height: 400px}
.u-section-2 .u-image-1 {height: 393px; margin: -93px auto 18px 0}
.u-section-2 .u-layout-cell-2 {min-height: 400px}
.u-section-2 .u-image-2 {height: 393px; margin: -93px auto 18px 0}
.u-section-2 .u-layout-cell-3 {min-height: 400px}
.u-section-2 .u-text-1 {font-family: patua-one; margin: 40px 20px 0}
.u-section-2 .u-text-2 {margin: 20px 20px 0}
.u-section-2 .u-link-1 {border-style: dashed; padding-bottom: 2px; font-style: italic; font-weight: 700; margin: 30px 20px 18px auto} 

@media (max-width: 1199px){ .u-section-2 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {position: relative; margin-right: initial; margin-left: initial}
.u-section-2 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-2 .u-link-1 {position: relative; margin-right: 16px} }

@media (max-width: 991px){ .u-section-2 .u-layout-cell-3 {min-height: 100px}
.u-section-2 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-2 .u-link-1 {margin-right: 13px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 790px}
.u-section-2 .u-layout-cell-3 {min-height: 400px}
.u-section-2 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-2 .u-link-1 {margin-right: 9px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 992px}
.u-section-2 .u-image-1 {height: 489px; margin-top: -99px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-2 {margin-top: -3px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-2 .u-layout-cell-3 {min-height: 602px}
.u-section-2 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-2 .u-link-1 {margin-right: 6px} }.u-block-1263-1 {background-image: none}
.u-block-1263-2 {position: absolute; bottom: 10px}
.u-block-1263-3 {margin-top: 70px; margin-bottom: 70px}
.u-block-1263-4 {min-height: 599px} 

@media (max-width: 1199px){ .u-block-1263-3 {width: 29px}
.u-block-1263-4 {width: 29px} }

@media (max-width: 991px){ .u-block-1263-3 {width: 22px}
.u-block-1263-4 {width: 22px} }

@media (max-width: 767px){ .u-block-1263-3 {width: 21px}
.u-block-1263-4 {width: 21px} }

@media (max-width: 575px){ .u-block-1263-3 {width: 17px}
.u-block-1263-4 {width: 17px} }.u-section-3-1 .u-sheet-1 {min-height: 744px}
.u-section-3-1 .u-layout-wrap-1 {margin: 40px auto 63px 0}
.u-section-3-1 .u-layout-cell-1 {min-height: 641px}
.u-section-3-1 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
.u-section-3-1 .u-text-1 {width: 445px; font-family: patua-one; margin: 65px 0 0}
.u-section-3-1 .u-text-2 {width: 445px; margin: 10px auto 65px}
.u-section-3-1 .u-image-1 {min-height: 641px; background-image: url("images/f96c43fd056043aef756a5455af32ca3.jpeg"); background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-3-1 .u-sheet-1 {min-height: 359px}
.u-section-3-1 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-3-1 .u-layout-cell-1 {min-height: 500px}
.u-section-3-1 .u-container-layout-1 {padding-left: 49px; padding-right: 49px}
.u-section-3-1 .u-text-1 {position: relative; width: 367px}
.u-section-3-1 .u-text-2 {position: relative; width: 367px}
.u-section-3-1 .u-image-1 {min-height: 500px} }

@media (max-width: 991px){ .u-section-3-1 .u-container-layout-1 {padding-left: 38px; padding-right: 38px}
.u-section-3-1 .u-text-1 {width: 281px}
.u-section-3-1 .u-text-2 {width: 281px} }

@media (max-width: 767px){ .u-section-3-1 .u-sheet-1 {min-height: 737px}
.u-section-3-1 .u-layout-wrap-1 {margin-top: 63px; margin-right: initial; margin-left: initial}
.u-section-3-1 .u-layout-cell-1 {min-height: 481px}
.u-section-3-1 .u-container-layout-1 {padding-left: 28px; padding-right: 10px}
.u-section-3-1 .u-text-1 {width: 263px; margin-top: 3px; margin-right: 249px}
.u-section-3-1 .u-text-2 {margin-right: 28px; margin-bottom: 0; margin-left: -0; width: 263px}
.u-section-3-1 .u-image-1 {min-height: 397px} }

@media (max-width: 575px){ .u-section-3-1 .u-sheet-1 {min-height: 952px}
.u-section-3-1 .u-layout-cell-1 {min-height: 639px}
.u-section-3-1 .u-container-layout-1 {padding-left: 18px; padding-right: 18px}
.u-section-3-1 .u-text-1 {margin-top: 50px; margin-right: 0; width: 183px}
.u-section-3-1 .u-text-2 {margin-top: 18px; margin-right: -0; margin-bottom: 1px}
.u-section-3-1 .u-image-1 {min-height: 454px} }.u-section-3-2 .u-sheet-1 {min-height: 744px}
.u-section-3-2 .u-layout-wrap-1 {margin-top: 70px; margin-bottom: 70px}
.u-section-3-2 .u-layout-cell-1 {min-height: 630px}
.u-section-3-2 .u-container-layout-1 {padding-left: 54px; padding-right: 54px}
.u-section-3-2 .u-text-1 {margin: 85px 0}
.u-section-3-2 .u-image-1 {min-height: 630px; background-image: url("images/bc06e925a40e3f528fbe62e3531a2a8c.jpeg"); background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-3-2 .u-sheet-1 {min-height: 359px}
.u-section-3-2 .u-layout-cell-1 {min-height: 500px}
.u-section-3-2 .u-container-layout-1 {padding-left: 49px; padding-right: 49px}
.u-section-3-2 .u-text-1 {position: relative}
.u-section-3-2 .u-image-1 {min-height: 500px} }

@media (max-width: 991px){ .u-section-3-2 .u-container-layout-1 {padding-left: 38px; padding-right: 38px} }

@media (max-width: 767px){ .u-section-3-2 .u-sheet-1 {min-height: 737px}
.u-section-3-2 .u-layout-cell-1 {min-height: 350px}
.u-section-3-2 .u-container-layout-1 {padding-left: 28px; padding-right: 28px}
.u-section-3-2 .u-image-1 {min-height: 350px} }

@media (max-width: 575px){ .u-section-3-2 .u-sheet-1 {min-height: 952px}
.u-section-3-2 .u-layout-cell-1 {min-height: 300px}
.u-section-3-2 .u-container-layout-1 {padding-left: 18px; padding-right: 18px}
.u-section-3-2 .u-image-1 {min-height: 300px} }.u-section-3-3 .u-sheet-1 {min-height: 744px}
.u-section-3-3 .u-layout-wrap-1 {margin-top: 70px; margin-bottom: 70px}
.u-section-3-3 .u-layout-cell-1 {min-height: 599px}
.u-section-3-3 .u-container-layout-1 {padding-left: 50px; padding-right: 50px}
.u-section-3-3 .u-text-1 {margin: 132px 0}
.u-section-3-3 .u-image-1 {min-height: 599px; background-image: url("images/3addaae9c92476560a08db848a9d1089.jpeg"); background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-3-3 .u-sheet-1 {min-height: 359px}
.u-section-3-3 .u-layout-cell-1 {min-height: 500px}
.u-section-3-3 .u-container-layout-1 {padding-left: 49px; padding-right: 49px}
.u-section-3-3 .u-text-1 {position: relative}
.u-section-3-3 .u-image-1 {min-height: 500px} }

@media (max-width: 991px){ .u-section-3-3 .u-container-layout-1 {padding-left: 38px; padding-right: 38px} }

@media (max-width: 767px){ .u-section-3-3 .u-sheet-1 {min-height: 737px}
.u-section-3-3 .u-layout-cell-1 {min-height: 350px}
.u-section-3-3 .u-container-layout-1 {padding-left: 28px; padding-right: 28px}
.u-section-3-3 .u-image-1 {min-height: 350px} }

@media (max-width: 575px){ .u-section-3-3 .u-sheet-1 {min-height: 952px}
.u-section-3-3 .u-layout-cell-1 {min-height: 300px}
.u-section-3-3 .u-container-layout-1 {padding-left: 18px; padding-right: 18px}
.u-section-3-3 .u-image-1 {min-height: 300px} }.u-section-3-4 .u-sheet-1 {min-height: 744px}
.u-section-3-4 .u-layout-wrap-1 {margin: 40px auto 63px 0}
.u-section-3-4 .u-layout-cell-1 {min-height: 641px}
.u-section-3-4 .u-container-layout-1 {padding-left: 60px; padding-right: 60px}
.u-section-3-4 .u-text-1 {width: 445px; font-family: patua-one; margin: 65px 0 0}
.u-section-3-4 .u-text-2 {width: 445px; margin: 10px auto 65px}
.u-section-3-4 .u-image-1 {min-height: 641px; background-image: url("images/f96c43fd056043aef756a5455af32ca3.jpeg"); background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-3-4 .u-sheet-1 {min-height: 359px}
.u-section-3-4 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-3-4 .u-layout-cell-1 {min-height: 500px}
.u-section-3-4 .u-container-layout-1 {padding-left: 49px; padding-right: 49px}
.u-section-3-4 .u-text-1 {position: relative; width: 367px}
.u-section-3-4 .u-text-2 {position: relative; width: 367px}
.u-section-3-4 .u-image-1 {min-height: 500px} }

@media (max-width: 991px){ .u-section-3-4 .u-container-layout-1 {padding-left: 38px; padding-right: 38px}
.u-section-3-4 .u-text-1 {width: 281px}
.u-section-3-4 .u-text-2 {width: 281px} }

@media (max-width: 767px){ .u-section-3-4 .u-sheet-1 {min-height: 737px}
.u-section-3-4 .u-layout-wrap-1 {margin-top: 63px; margin-right: initial; margin-left: initial}
.u-section-3-4 .u-layout-cell-1 {min-height: 481px}
.u-section-3-4 .u-container-layout-1 {padding-left: 28px; padding-right: 10px}
.u-section-3-4 .u-text-1 {width: 263px; margin-top: 3px; margin-right: 249px}
.u-section-3-4 .u-text-2 {margin-right: 28px; margin-bottom: 0; margin-left: -0; width: 263px}
.u-section-3-4 .u-image-1 {min-height: 397px} }

@media (max-width: 575px){ .u-section-3-4 .u-sheet-1 {min-height: 952px}
.u-section-3-4 .u-layout-cell-1 {min-height: 639px}
.u-section-3-4 .u-container-layout-1 {padding-left: 18px; padding-right: 18px}
.u-section-3-4 .u-text-1 {margin-top: 50px; margin-right: 0; width: 183px}
.u-section-3-4 .u-text-2 {margin-top: 18px; margin-right: -0; margin-bottom: 1px}
.u-section-3-4 .u-image-1 {min-height: 454px} }.u-section-3-5 {background-image: none}
.u-section-3-5 .u-sheet-1 {min-height: 744px}
.u-section-3-5 .u-layout-wrap-1 {pointer-events: auto; margin: 72px auto 0 0}
.u-section-3-5 .u-image-1 {min-height: 600px; pointer-events: auto; background-image: url("images/b8f0686a0243299f4cf7188805b8486b.jpeg"); background-position: 50% 50%}
.u-section-3-5 .u-container-layout-1 {padding: 30px 60px}
.u-section-3-5 .u-layout-cell-2 {min-height: 600px; pointer-events: auto}
.u-section-3-5 .u-container-layout-2 {padding: 30px 60px}
.u-section-3-5 .u-text-1 {font-weight: 300; font-size: 1.5rem; margin: 85px auto 0}
.u-section-3-5 .u-text-2 {font-size: 3.75rem; font-weight: 700; text-transform: none; margin: 20px 0 0}
.u-section-3-5 .u-text-3 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-3-5 .u-sheet-1 {min-height: 629px}
.u-section-3-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3-5 .u-image-1 {min-height: 495px}
.u-section-3-5 .u-layout-cell-2 {min-height: 495px} }

@media (max-width: 991px){ .u-section-3-5 .u-sheet-1 {min-height: 667px}
.u-section-3-5 .u-image-1 {min-height: 379px}
.u-section-3-5 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3-5 .u-layout-cell-2 {min-height: 533px}
.u-section-3-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-3-5 .u-text-2 {font-size: 3rem} }

@media (max-width: 767px){ .u-section-3-5 .u-sheet-1 {min-height: 994px}
.u-section-3-5 .u-image-1 {min-height: 569px}
.u-section-3-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3-5 .u-layout-cell-2 {min-height: 100px}
.u-section-3-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3-5 .u-sheet-1 {min-height: 179px}
.u-section-3-5 .u-image-1 {min-height: 358px} }.u-section-4 .u-sheet-1 {min-height: 646px}
.u-section-4 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-4 .u-image-1 {min-height: 500px; background-image: url("images/pexels-photo-3847591.jpeg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-layout-cell-2 {min-height: 273px}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-text-1 {margin-top: 0; font-size: 3rem; margin-bottom: 0}
.u-section-4 .u-layout-cell-3 {min-height: 273px}
.u-section-4 .u-container-layout-3 {padding: 30px 10px}
.u-section-4 .u-icon-1 {height: 48px; width: 48px; margin: 0 auto 0 0}
.u-section-4 .u-text-2 {background-image: none; margin: 20px auto 0 0}
.u-section-4 .u-layout-cell-4 {min-height: 253px}
.u-section-4 .u-container-layout-4 {padding: 30px 10px}
.u-section-4 .u-icon-2 {height: 48px; width: 48px; margin: 0 auto 0 0}
.u-section-4 .u-text-3 {margin: 20px auto 0 0}
.u-section-4 .u-image-2 {min-height: 250px; background-image: url("images/pexels-photo-3847561.jpeg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-5 {padding: 30px} 

@media (max-width: 1199px){ .u-section-4 .u-sheet-1 {min-height: 675px}
.u-section-4 .u-image-1 {min-height: 412px}
.u-section-4 .u-layout-cell-2 {min-height: 225px}
.u-section-4 .u-layout-cell-3 {min-height: 225px}
.u-section-4 .u-layout-cell-4 {min-height: 209px}
.u-section-4 .u-image-2 {min-height: 206px} }

@media (max-width: 991px){ .u-section-4 .u-sheet-1 {min-height: 1256px}
.u-section-4 .u-layout-wrap-1 {margin-top: 40px; margin-bottom: 41px}
.u-section-4 .u-image-1 {min-height: 631px}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-layout-cell-3 {min-height: 100px}
.u-section-4 .u-layout-cell-4 {min-height: 100px}
.u-section-4 .u-image-2 {min-height: 316px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 1365px}
.u-section-4 .u-layout-wrap-1 {margin-bottom: 40px}
.u-section-4 .u-image-1 {min-height: 473px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-2 {min-height: 356px}
.u-section-4 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1172px}
.u-section-4 .u-image-1 {min-height: 298px}
.u-section-4 .u-image-2 {min-height: 224px} }.u-section-5 .u-sheet-1 {min-height: 416px}
.u-section-5 .u-text-1 {margin-top: 174px; margin-right: 0; margin-left: 860px; font-size: 13.75rem; font-weight: 700; margin-bottom: initial}
.u-section-5 .u-layout-wrap-1 {margin: -330px auto 40px 0}
.u-section-5 .u-layout-cell-1 {min-height: 255px}
.u-section-5 .u-container-layout-1 {padding-left: 20px; padding-right: 20px}
.u-section-5 .u-text-2 {font-family: patua-one; margin: 0}
.u-section-5 .u-layout-cell-2 {min-height: 255px}
.u-section-5 .u-container-layout-2 {padding-left: 20px; padding-right: 20px}
.u-section-5 .u-text-3 {margin: 0}
.u-section-5 .u-layout-cell-3 {min-height: 255px}
.u-section-5 .u-container-layout-3 {padding-left: 20px; padding-right: 20px}
.u-section-5 .u-text-4 {margin: 0 20px} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 479px}
.u-section-5 .u-text-1 {position: relative; margin-top: 10px; margin-bottom: 0; margin-left: 623px}
.u-section-5 .u-layout-wrap-1 {position: relative; margin-top: -88px; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-1 {padding-left: 16px; padding-right: 16px}
.u-section-5 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-5 .u-container-layout-2 {padding-left: 16px; padding-right: 16px}
.u-section-5 .u-text-3 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-5 .u-container-layout-3 {padding-left: 16px; padding-right: 16px}
.u-section-5 .u-text-4 {position: relative; margin-left: 16px; margin-right: 16px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 983px}
.u-section-5 .u-text-1 {font-size: 12rem; margin-top: 68px; margin-left: 416px}
.u-section-5 .u-layout-wrap-1 {margin-top: 20px; margin-right: initial; margin-left: initial}
.u-section-5 .u-container-layout-1 {padding-left: 13px; padding-right: 13px}
.u-section-5 .u-text-2 {margin-left: 13px; margin-right: 13px}
.u-section-5 .u-container-layout-2 {padding-left: 13px; padding-right: 13px}
.u-section-5 .u-text-3 {margin-left: 13px; margin-right: 13px}
.u-section-5 .u-container-layout-3 {padding-left: 13px; padding-right: 13px}
.u-section-5 .u-text-4 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-5 .u-sheet-1 {min-height: 743px}
.u-section-5 .u-text-1 {margin-top: 40px; margin-left: 270px}
.u-section-5 .u-layout-wrap-1 {margin-top: -61px; margin-bottom: 0; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 90px}
.u-section-5 .u-container-layout-1 {padding-left: 9px; padding-right: 9px}
.u-section-5 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-5 .u-layout-cell-2 {min-height: 90px}
.u-section-5 .u-container-layout-2 {padding-left: 9px; padding-right: 9px}
.u-section-5 .u-text-3 {margin-left: 9px; margin-right: 9px}
.u-section-5 .u-layout-cell-3 {min-height: 90px}
.u-section-5 .u-container-layout-3 {padding-left: 9px; padding-right: 9px}
.u-section-5 .u-text-4 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-5 .u-sheet-1 {min-height: 878px}
.u-section-5 .u-text-1 {margin-top: 20px; margin-left: 78px}
.u-section-5 .u-layout-wrap-1 {margin-top: -59px; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 123px}
.u-section-5 .u-container-layout-1 {padding-left: 6px; padding-right: 6px}
.u-section-5 .u-text-2 {margin-left: 6px; margin-right: 6px}
.u-section-5 .u-layout-cell-2 {min-height: 141px}
.u-section-5 .u-container-layout-2 {padding-left: 6px; padding-right: 6px}
.u-section-5 .u-text-3 {margin-left: 6px; margin-right: 6px}
.u-section-5 .u-layout-cell-3 {min-height: 141px}
.u-section-5 .u-container-layout-3 {padding-left: 6px; padding-right: 6px}
.u-section-5 .u-text-4 {margin-left: 6px; margin-right: 6px} }.u-section-6 {background-image: url("images/6452c7e1d79c115ec3a4d1b0c0fddd7f.jpeg"); background-position: 50% 50%}
.u-section-6 .u-sheet-1 {min-height: 629px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 400px} }.u-section-7 {min-height: 647px}
.u-section-7 .u-group-1 {width: 616px; min-height: 178px; margin-top: 50px; margin-bottom: 0; margin-left: auto}
.u-section-7 .u-text-1 {font-family: patua-one; margin: 15px 20px 0}
.u-section-7 .u-text-2 {font-size: 1.125rem; margin: 20px 20px 15px}
.u-section-7 .u-layout-wrap-1 {margin: 50px auto 80px 0}
.u-section-7 .u-image-1 {min-height: 300px; background-image: url("images/695807e6f2eeb80562e0ace2995ecb72.jpeg"); background-position: 50% 97.31%}
.u-section-7 .u-image-2 {min-height: 300px; background-image: url("images/c36764e87c123811db60c29d7cdeeb75.jpeg"); background-position: 50% 50%}
.u-section-7 .u-image-3 {min-height: 300px; background-image: url("images/081731e569565a623b0d22cc04cab752.jpeg"); background-position: 50% 50%}
.u-section-7 .u-image-4 {min-height: 300px; background-image: url("images/62781ea8d742f55b74815ddd91bc7b54.jpeg"); background-position: 50% 50%}
.u-section-7 .u-image-5 {min-height: 300px; background-image: url("images/278697ba560f92e8af7ea8ec35ebb907.jpeg"); background-position: 50% 50%} 

@media (max-width: 1199px){ .u-section-7 .u-group-1 {width: 508px; position: relative; margin-right: calc(((100% - 940px) / 2)) + 0)}
.u-section-7 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-7 .u-text-2 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-7 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-7 {min-height: 1247px}
.u-section-7 .u-group-1 {width: 389px; margin-right: calc(((100% - 720px) / 2)) + 0)}
.u-section-7 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-7 .u-text-2 {margin-left: 13px; margin-right: 13px} }

@media (max-width: 767px){ .u-section-7 {min-height: 1647px}
.u-section-7 .u-group-1 {width: 365px; margin-right: calc(((100% - 540px) / 2)) + 0)}
.u-section-7 .u-text-1 {margin-left: 9px; margin-right: 9px}
.u-section-7 .u-text-2 {margin-left: 9px; margin-right: 9px} }

@media (max-width: 575px){ .u-section-7 {min-height: 1849px}
.u-section-7 .u-group-1 {width: 340px; min-height: 306px; margin-right: auto}
.u-section-7 .u-text-1 {margin-top: 30px; margin-left: 6px; margin-right: 6px}
.u-section-7 .u-text-2 {margin-left: 6px; margin-right: 6px; margin-bottom: 30px} }.u-section-8 {background-image: none}
.u-section-8 .u-sheet-1 {min-height: 524px}
.u-section-8 .u-image-1 {width: 636px; height: 410px; margin: -46px 0 0 auto}
.u-section-8 .u-group-1 {width: 504px; min-height: 414px; margin: -337px auto 0 0}
.u-section-8 .u-text-1 {margin: 40px 20px}
.u-section-8 .u-text-2 {font-size: 0.875rem; margin: -63px 0 0 764px}
.u-section-8 .u-text-3 {font-size: 13.75rem; font-weight: 700; margin: -134px 436px 12px 399px} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 695px; position: relative}
.u-section-8 .u-image-1 {width: 524px; position: relative; margin-top: 615px}
.u-section-8 .u-group-1 {width: 416px; min-height: 430px; position: relative; margin-top: -420px}
.u-section-8 .u-text-1 {position: relative; margin-left: 16px; margin-right: 16px}
.u-section-8 .u-text-2 {position: relative; margin-top: 6px; margin-left: 630px}
.u-section-8 .u-text-3 {position: relative; margin: -157px 246px 16px 296px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 706px}
.u-section-8 .u-image-1 {width: 402px; margin-top: 574px}
.u-section-8 .u-group-1 {width: 318px; min-height: 530px; margin-top: 20px; margin-left: 201px}
.u-section-8 .u-text-1 {margin-left: 13px; margin-right: 13px}
.u-section-8 .u-text-2 {margin-top: -50px; margin-left: 483px}
.u-section-8 .u-text-3 {font-size: 12rem; margin: -160px 147px 40px 238px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 912px}
.u-section-8 .u-image-1 {margin-top: 792px; margin-right: initial; margin-left: initial; width: auto}
.u-section-8 .u-group-1 {min-height: 302px; margin-top: -721px; margin-right: initial; margin-left: initial; width: auto}
.u-section-8 .u-text-1 {margin-left: 9px; margin-right: 9px; margin-bottom: 0}
.u-section-8 .u-text-2 {margin-top: 445px; margin-right: 9px; margin-left: 353px}
.u-section-8 .u-text-3 {margin: -131px 200px 26px 0} }

@media (max-width: 575px){ .u-section-8 .u-sheet-1 {min-height: 957px}
.u-section-8 .u-image-1 {width: 342px; height: 298px; margin-top: 964px; margin-left: -1px; margin-right: -1px}
.u-section-8 .u-group-1 {min-height: 441px; width: 340px; margin-top: -876px; margin-left: auto; margin-right: auto}
.u-section-8 .u-text-1 {margin-left: 6px; margin-right: 6px}
.u-section-8 .u-text-2 {margin-top: 475px; margin-right: -1px; margin-left: 131px}
.u-section-8 .u-text-3 {margin: -173px 81px 40px -1px} }.u-section-9 .u-sheet-1 {min-height: 558px}
.u-section-9 .u-layout-wrap-1 {margin: 21px auto 21px 0}
.u-section-9 .u-layout-cell-1 {min-height: 551px}
.u-section-9 .u-container-layout-1 {padding: 20px}
.u-section-9 .u-icon-1 {height: 64px; width: 64px; margin: 0 auto 0 0}
.u-section-9 .u-text-1 {font-style: italic; margin: 22px 153px 0 0}
.u-section-9 .u-text-2 {text-transform: uppercase; margin: 51px 2px 0 131px}
.u-section-9 .u-btn-1 {text-transform: uppercase; font-size: 0.875rem; letter-spacing: 3px; margin: 31px 0 0 auto}
.u-section-9 .u-image-1 {min-height: 551px; background-image: url("images/post_3.jpg"); background-position: 50% 50%}
.u-section-9 .u-container-layout-2 {padding: 20px} 

@media (max-width: 1199px){ .u-section-9 .u-sheet-1 {min-height: 3px}
.u-section-9 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-9 .u-layout-cell-1 {min-height: 454px}
.u-section-9 .u-text-1 {margin-right: 53px}
.u-section-9 .u-text-2 {margin-right: 0; margin-left: 33px}
.u-section-9 .u-image-1 {min-height: 454px} }

@media (max-width: 991px){ .u-section-9 .u-layout-cell-1 {min-height: 100px}
.u-section-9 .u-text-1 {margin-right: auto}
.u-section-9 .u-text-2 {margin-left: auto}
.u-section-9 .u-image-1 {min-height: 348px} }

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: 277px}
.u-section-9 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-9 .u-image-1 {min-height: 522px}
.u-section-9 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-9 .u-sheet-1 {min-height: 84px}
.u-section-9 .u-image-1 {min-height: 329px} }.u-section-10 .u-sheet-1 {min-height: 200px}
.u-section-10 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-10 .u-image-1 {background-image: url("images/photo1447012256906c2ed7aa5632e.jpg"); min-height: 669px; background-position: 50% 50%}
.u-section-10 .u-container-layout-1 {padding: 30px}
.u-section-10 .u-image-2 {background-image: url("images/123.jpg"); min-height: 335px; background-position: 50% 50%}
.u-section-10 .u-container-layout-2 {padding: 30px}
.u-section-10 .u-image-3 {min-height: 335px; background-image: url("images/plant3.jpg"); background-position: 50% 50%}
.u-section-10 .u-container-layout-3 {padding: 30px}
.u-section-10 .u-layout-cell-4 {min-height: 669px}
.u-section-10 .u-container-layout-4 {padding: 30px}
.u-section-10 .u-text-1 {margin: 0}
.u-section-10 .u-text-2 {font-size: 2.25rem; margin: 20px 0 0}
.u-section-10 .u-text-3 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-10 .u-sheet-1 {min-height: 47px}
.u-section-10 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-10 .u-image-1 {min-height: 552px}
.u-section-10 .u-image-2 {min-height: 276px}
.u-section-10 .u-image-3 {min-height: 276px}
.u-section-10 .u-layout-cell-4 {min-height: 552px} }

@media (max-width: 991px){ .u-section-10 .u-sheet-1 {min-height: 229px}
.u-section-10 .u-image-1 {min-height: 634px}
.u-section-10 .u-image-2 {min-height: 317px}
.u-section-10 .u-image-3 {min-height: 317px}
.u-section-10 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-10 .u-image-1 {min-height: 951px}
.u-section-10 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-image-2 {min-height: 476px}
.u-section-10 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-10 .u-image-3 {min-height: 476px}
.u-section-10 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-10 .u-image-1 {min-height: 599px}
.u-section-10 .u-image-2 {min-height: 300px}
.u-section-10 .u-image-3 {min-height: 300px} }.u-section-11 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/27aeafd4-9f29-4045-a123-f5581ff789bd2.jpg"); background-position: 50% 50%; margin: 0}
.u-section-11 .u-sheet-1 {min-height: 506px}
.u-section-11 .u-group-1 {min-height: 236px; width: 670px; margin: 135px auto}
.u-section-11 .u-container-layout-1 {padding: 20px 60px}
.u-section-11 .u-text-1 {margin: 0}
.u-section-11 .u-text-2 {margin: 20px 0 0}
.u-section-11 .u-text-3 {margin: 0}
.u-section-11 .u-text-4 {margin: 0} 

@media (max-width: 1199px){ .u-section-11 .u-sheet-1 {min-height: 417px}
.u-section-11 .u-group-1 {width: 552px} }

@media (max-width: 991px){ .u-section-11 .u-sheet-1 {min-height: 319px}
.u-section-11 .u-group-1 {width: 423px}
.u-section-11 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-11 .u-sheet-1 {min-height: 299px}
.u-section-11 .u-group-1 {width: 397px}
.u-section-11 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-11 .u-group-1 {width: 340px} }.u-section-12 .u-sheet-1 {min-height: 150px}
.u-section-12 .u-social-icons-1 {height: 42px; min-height: 16px; width: 310px; min-width: 180px; white-space: nowrap; margin: 54px auto}
.u-section-12 .u-icon-1 {height: 100%}
.u-section-12 .u-icon-2 {height: 100%}
.u-section-12 .u-icon-3 {height: 100%}
.u-section-12 .u-icon-4 {height: 100%}
.u-section-12 .u-icon-5 {height: 100%} 

@media (max-width: 767px){ .u-section-12 .u-sheet-1 {min-height: auto} }