.u-section-1 {background-image: url("images/pexels-photo-3965534.jpeg"); background-position: 50% 100%}
.u-section-1 .u-sheet-1 {min-height: 668px}
.u-section-1 .u-text-1 {font-weight: 300; letter-spacing: 2px; font-size: 3rem; margin: 509px auto 0}
.u-section-1 .u-btn-1 {background-image: none; border-style: none none solid; margin: 30px auto 60px; padding: 0} 

@media (max-width: 1199px){ .u-section-1 {background-size: 115%}
.u-section-1 .u-sheet-1 {min-height: 551px} }

@media (max-width: 991px){ .u-section-1 {background-size: auto 115%}
.u-section-1 .u-sheet-1 {min-height: 422px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 317px}
.u-section-1 .u-text-1 {font-size: 1.875rem; width: auto}
.u-section-1 .u-btn-1 {margin-left: 231px} }

@media (max-width: 575px){ .u-section-1 {background-position: 46.41% 100%}
.u-section-1 .u-sheet-1 {min-height: 200px}
.u-section-1 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-1 .u-btn-1 {margin-left: 131px} }.u-section-2 {background-image: none}
.u-section-2 .u-sheet-1 {min-height: 669px}
.u-section-2 .u-layout-wrap-1 {width: 949px; margin: 41px auto}
.u-section-2 .u-layout-cell-1 {min-height: 587px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {font-size: 2.25rem; font-weight: 300; margin: 0 118px 0 0}
.u-section-2 .u-text-2 {font-size: 8.125rem; font-weight: 300; margin: 0 auto 0 0}
.u-section-2 .u-image-1 {min-height: 587px; background-image: url("images/pexelsphoto3644742.jpeg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-2 {padding: 30px} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 552px}
.u-section-2 .u-layout-wrap-1 {width: 940px}
.u-section-2 .u-layout-cell-1 {min-height: 581px}
.u-section-2 .u-text-1 {margin-right: 18px}
.u-section-2 .u-image-1 {min-height: 581px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 423px}
.u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-layout-cell-1 {min-height: 445px}
.u-section-2 .u-text-1 {font-size: 1.5rem; margin-right: 0}
.u-section-2 .u-text-2 {font-size: 6rem; width: auto}
.u-section-2 .u-image-1 {min-height: 445px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 479px}
.u-section-2 .u-layout-wrap-1 {width: 540px}
.u-section-2 .u-layout-cell-1 {min-height: 289px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-1 {font-size: 1.875rem}
.u-section-2 .u-text-2 {font-size: 8.125rem}
.u-section-2 .u-image-1 {min-height: 668px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 435px}
.u-section-2 .u-layout-wrap-1 {width: 340px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-image-1 {min-height: 421px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 448px}
.u-section-3 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-3 .u-layout-cell-1 {min-height: 325px}
.u-section-3 .u-container-layout-1 {padding: 30px 60px}
.u-section-3 .u-text-1 {line-height: 2; margin: 0}
.u-section-3 .u-layout-cell-2 {min-height: 325px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-text-2 {font-style: normal; font-weight: 700; line-height: 1.6; letter-spacing: 0; font-size: 1.125rem; text-decoration: underline !important; margin: 0} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 391px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 268px}
.u-section-3 .u-text-1 {position: relative}
.u-section-3 .u-layout-cell-2 {min-height: 268px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-text-2 {position: relative} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 223px}
.u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 323px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 76px} }.u-section-4 {background-image: none}
.u-section-4 .u-sheet-1 {min-height: 779px}
.u-section-4 .u-text-1 {font-weight: 300; font-size: 3rem; margin: 56px auto 0}
.u-section-4 .u-text-2 {width: 398px; font-weight: 700; margin: 20px auto 0}
.u-section-4 .u-layout-wrap-1 {margin: 30px auto 56px 0}
.u-section-4 .u-image-1 {min-height: 549px; background-image: url("images/pexels-photo-3965509.jpeg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-image-2 {min-height: 549px; background-image: url("images/pexels-photo-3965511.jpeg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-image-3 {min-height: 549px; background-image: url("images/pexels-photo-3965505.jpeg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-3 {padding: 30px} 

@media (max-width: 1199px){ .u-section-4 {min-height: 174px}
.u-section-4 .u-sheet-1 {min-height: 78px}
.u-section-4 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {min-height: 453px}
.u-section-4 .u-image-2 {min-height: 453px}
.u-section-4 .u-image-3 {min-height: 453px} }

@media (max-width: 991px){ .u-section-4 {min-height: 47px}
.u-section-4 .u-image-1 {min-height: 347px}
.u-section-4 .u-image-2 {min-height: 347px}
.u-section-4 .u-image-3 {min-height: 347px} }

@media (max-width: 767px){ .u-section-4 .u-sheet-1 {min-height: 2587px}
.u-section-4 .u-text-1 {font-size: 1.875rem}
.u-section-4 .u-image-1 {min-height: 781px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-2 {min-height: 781px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-3 {min-height: 781px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 .u-sheet-1 {min-height: 1701px}
.u-section-4 .u-text-1 {width: auto}
.u-section-4 .u-text-2 {margin-left: 0; margin-right: 0; width: 340px}
.u-section-4 .u-image-1 {min-height: 492px}
.u-section-4 .u-image-2 {min-height: 492px}
.u-section-4 .u-image-3 {min-height: 492px} }.u-section-5 {background-image: none}
.u-section-5 .u-sheet-1 {min-height: 650px}
.u-section-5 .u-layout-wrap-1 {margin: 60px auto 60px 0}
.u-section-5 .u-layout-cell-1 {min-height: 530px; background-image: none}
.u-section-5 .u-container-layout-1 {padding: 60px}
.u-section-5 .u-image-1 {width: 390px; height: 390px; box-shadow: 5px 5px 20px 0 rgba(155,205,252,0.4); margin: 0 auto}
.u-section-5 .u-layout-cell-2 {min-height: 530px}
.u-section-5 .u-container-layout-2 {padding: 30px 60px}
.u-section-5 .u-text-1 {margin-top: 0; margin-bottom: 0; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px}
.u-section-5 .u-text-2 {font-weight: 300; font-size: 2.25rem; margin: 30px 0 0}
.u-section-5 .u-text-3 {margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-5 .u-sheet-1 {min-height: 443px}
.u-section-5 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-1 {min-height: 437px}
.u-section-5 .u-image-1 {width: 350px; height: 350px}
.u-section-5 .u-layout-cell-2 {min-height: 437px} }

@media (max-width: 991px){ .u-section-5 .u-sheet-1 {min-height: 106px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-image-1 {width: 300px; height: 300px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-5 .u-image-1 {margin-right: initial; margin-left: initial; width: auto}
.u-section-5 .u-layout-cell-2 {min-height: 302px}
.u-section-5 .u-text-2 {font-size: 1.875rem} }

@media (max-width: 575px){ .u-section-5 .u-image-1 {height: 280px; width: auto; margin-right: initial; margin-left: initial}
.u-section-5 .u-layout-cell-2 {min-height: 100px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 1151px}
.u-section-6 .u-text-1 {width: 680px; font-weight: 300; font-size: 3.75rem; margin: 93px auto 0}
.u-section-6 .u-text-2 {width: 680px; margin: 20px 230px 0}
.u-section-6 .u-layout-wrap-1 {margin: 46px auto 60px 0}
.u-section-6 .u-image-1 {min-height: 399px; background-image: url("images/1.jpg"); background-position: 50% 50%}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-image-2 {min-height: 399px; background-image: url("images/3piececeramicdinnerwareset_580x.jpg"); background-position: 50% 50%}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-image-3 {min-height: 399px; background-image: url("images/gbf.jpg"); background-position: 50% 50%}
.u-section-6 .u-container-layout-3 {padding: 30px}
.u-section-6 .u-image-4 {min-height: 399px; background-image: url("images/5cc9d211057959.560f093dd9160.jpg"); background-position: 68.88% 50%}
.u-section-6 .u-container-layout-4 {padding: 30px}
.u-section-6 .u-image-5 {min-height: 399px; background-image: url("images/478579017_w0_h0_mebel_iz_fanery.jpg")}
.u-section-6 .u-container-layout-5 {padding: 30px}
.u-section-6 .u-image-6 {min-height: 399px; background-image: url("images/Untitled4.jpg"); background-position: 50% 50%}
.u-section-6 .u-container-layout-6 {padding: 30px} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 809px}
.u-section-6 .u-text-2 {margin-left: 130px; margin-right: 130px}
.u-section-6 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-6 .u-image-1 {min-height: 329px}
.u-section-6 .u-image-2 {min-height: 329px}
.u-section-6 .u-image-3 {min-height: 329px}
.u-section-6 .u-image-4 {min-height: 329px}
.u-section-6 .u-image-5 {min-height: 329px}
.u-section-6 .u-image-6 {min-height: 329px} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 655px}
.u-section-6 .u-text-2 {margin-left: 20px; margin-right: 20px}
.u-section-6 .u-image-1 {min-height: 252px}
.u-section-6 .u-image-2 {min-height: 252px}
.u-section-6 .u-image-3 {min-height: 252px}
.u-section-6 .u-image-4 {min-height: 252px}
.u-section-6 .u-image-5 {min-height: 252px}
.u-section-6 .u-image-6 {min-height: 252px} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 2419px}
.u-section-6 .u-text-1 {font-size: 1.875rem; width: 540px}
.u-section-6 .u-text-2 {width: 540px; margin-left: 0; margin-right: 0}
.u-section-6 .u-image-1 {min-height: 567px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-2 {min-height: 567px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-3 {min-height: 567px}
.u-section-6 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-4 {min-height: 567px}
.u-section-6 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-5 {min-height: 567px}
.u-section-6 .u-container-layout-5 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-6 {min-height: 567px}
.u-section-6 .u-container-layout-6 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 1579px}
.u-section-6 .u-text-1 {width: 340px}
.u-section-6 .u-text-2 {width: 340px}
.u-section-6 .u-image-1 {min-height: 357px}
.u-section-6 .u-image-2 {min-height: 357px}
.u-section-6 .u-image-3 {min-height: 357px}
.u-section-6 .u-image-4 {min-height: 357px}
.u-section-6 .u-image-5 {min-height: 357px}
.u-section-6 .u-image-6 {min-height: 357px} }.u-section-7 .u-image-1 {height: 530px; margin-top: 340px; margin-left: 0; margin-bottom: 0}
.u-section-7 .u-sheet-1 {min-height: 840px; margin: -900px auto 0}
.u-section-7 .u-layout-wrap-1 {margin: 30px auto 373px 0}
.u-section-7 .u-layout-cell-1 {min-height: 268px}
.u-section-7 .u-container-layout-1 {padding: 30px}
.u-section-7 .u-text-1 {font-size: 3rem; font-weight: 300; margin: 20px 0 0}
.u-section-7 .u-layout-cell-2 {min-height: 134px}
.u-section-7 .u-container-layout-2 {padding: 30px}
.u-section-7 .u-text-2 {font-size: 1.125rem; margin: 0}
.u-section-7 .u-text-3 {font-weight: 300; font-size: 2.25rem; margin: 20px 0 0}
.u-section-7 .u-layout-cell-3 {background-position: 0% 0%; min-height: 179px}
.u-section-7 .u-container-layout-3 {padding: 30px}
.u-section-7 .u-text-4 {font-size: 1.125rem; margin: 0}
.u-section-7 .u-text-5 {font-weight: 300; font-size: 2.25rem; margin: 20px 0 0}
.u-section-7 .u-layout-cell-4 {min-height: 402px}
.u-section-7 .u-container-layout-4 {padding: 30px}
.u-section-7 .u-line-1 {width: 80px; transform-origin: left center; height: 3px; margin: 169px auto 0 0}
.u-section-7 .u-text-6 {text-transform: uppercase; font-weight: 700; font-size: 1rem; margin: 21px 0 0} 

@media (max-width: 1199px){ .u-section-7 .u-image-1 {margin-left: initial}
.u-section-7 .u-sheet-1 {min-height: 762px}
.u-section-7 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-1 {min-height: 221px}
.u-section-7 .u-layout-cell-2 {min-height: 179px}
.u-section-7 .u-text-3 {font-size: 1.875rem}
.u-section-7 .u-layout-cell-3 {min-height: 148px}
.u-section-7 .u-text-5 {font-size: 1.875rem}
.u-section-7 .u-layout-cell-4 {min-height: 331px} }

@media (max-width: 991px){ .u-section-7 .u-image-1 {height: 560px; margin-top: 158px; margin-left: initial}
.u-section-7 .u-sheet-1 {min-height: 688px; margin-top: -718px}
.u-section-7 .u-layout-wrap-1 {margin-top: -8px; margin-bottom: 60px; margin-right: initial; margin-left: initial}
.u-section-7 .u-layout-cell-1 {min-height: 100px}
.u-section-7 .u-layout-cell-2 {min-height: 100px}
.u-section-7 .u-layout-cell-3 {min-height: 100px}
.u-section-7 .u-layout-cell-4 {min-height: 100px} }

@media (max-width: 767px){ .u-section-7 .u-image-1 {height: 635px; margin-left: initial}
.u-section-7 .u-sheet-1 {min-height: 793px; margin-top: -793px}
.u-section-7 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-text-1 {font-size: 1.875rem}
.u-section-7 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-text-3 {font-size: 1.5}
.u-section-7 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-7 .u-text-5 {font-size: 1.5}
.u-section-7 .u-container-layout-4 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-7 .u-sheet-1 {min-height: 357px}
.u-section-7 .u-text-3 {font-size: 1.5rem}
.u-section-7 .u-text-5 {font-size: 1.5rem} }.u-section-8 {background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/27aeafd4-9f29-4045-a123-f5581ff789bd1.jpg"); background-position: 50% 50%; margin: 0}
.u-section-8 .u-sheet-1 {min-height: 506px}
.u-section-8 .u-group-1 {min-height: 236px; width: 670px; margin: 135px auto}
.u-section-8 .u-container-layout-1 {padding: 20px 60px}
.u-section-8 .u-text-1 {margin: 0}
.u-section-8 .u-text-2 {margin: 20px 0 0}
.u-section-8 .u-text-3 {margin: 0}
.u-section-8 .u-text-4 {margin: 0} 

@media (max-width: 1199px){ .u-section-8 .u-sheet-1 {min-height: 417px}
.u-section-8 .u-group-1 {width: 552px} }

@media (max-width: 991px){ .u-section-8 .u-sheet-1 {min-height: 319px}
.u-section-8 .u-group-1 {width: 423px}
.u-section-8 .u-container-layout-1 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-8 .u-sheet-1 {min-height: 299px}
.u-section-8 .u-group-1 {width: 397px}
.u-section-8 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-8 .u-group-1 {width: 340px} }.u-section-9 .u-sheet-1 {min-height: 150px}
.u-section-9 .u-social-icons-1 {height: 42px; min-height: 16px; width: 310px; min-width: 180px; white-space: nowrap; margin: 54px auto}
.u-section-9 .u-icon-1 {height: 100%}
.u-section-9 .u-icon-2 {height: 100%}
.u-section-9 .u-icon-3 {height: 100%}
.u-section-9 .u-icon-4 {height: 100%}
.u-section-9 .u-icon-5 {height: 100%} 

@media (max-width: 767px){ .u-section-9 .u-sheet-1 {min-height: auto} }